.article-card {
  position: relative;
  display: grid;
  padding: 1.5rem;
  gap: 1.5rem;

  .article-card__title a {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  a {
    color: var(--color-dark);
    text-decoration: none;
  }

  .article-card__footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
  }
}
