.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.slider {
  background-color: var(--color-light-muted);
  border: 1px solid var(--border-color);
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;

  &:before {
    border: 1px solid var(--border-color);
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
}

.slider.dark {
  background-color: var(--color-dark-muted);

  &:before {
    transform: translateX(24px);
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider input[type="checkbox"] {
  appearance: none;
  position: absolute;
  inset: -1px;
  background: none;
  border: none;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 34px;

  &:before {
    background: none;
    box-shadow: none;
    clip-path: none;
  }
}
