.pagination {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;

  & .pagination__item {
    list-style: none;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  & .pagination__item-link,
  & [aria-current="page"] {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: var(--font-color);
  }

  & .pagination__item-link {
    text-underline-offset: 0.5rem;
  }

  & [aria-current="page"] {
    color: var(--color-primary);
  }
}
