@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*,
::after,
::before {
  box-sizing: inherit;
  font-family: var(--font-primary), sans-serif;
  font-size: 16px;
}

html {
  background: var(--background-primary);
  box-sizing: border-box;
  font-family: var(--font-primary), sans-serif;
  font-size: 16px;
  color: var(--font-color);
}

body {
  margin: 0;
}

.main {
  background: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(350px);
  margin: 3rem auto 0;
}

section {
  width: 100%;

  footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    &:has(> :only-child) {
      justify-content: flex-end;
    }
  }
}

main > section {
  padding: 1rem 1rem 0;

  > section {
    max-width: var(--container-max-width);
  }
}

@media screen and (min-width: 768px) {
  main > section {
    padding: 1rem 2rem 0;
  }
}

@media screen and (min-width: 992px) {
  main > section {
    padding: 3rem 5rem;
  }
}

/* ---------- Titles ---------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;

  &::selection {
    background: transparent;
    color: var(--color-primary);
    text-shadow: none;
  }
}

h1 {
  font-family: var(--font-secondary), sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-secondary), sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: var(--font-secondary), sans-serif;
  font-size: 1.75rem;
}

/* ---------- Containers ---------- */

.container {
  max-width: var(--container-max-width);
}

.framed {
  position: relative;
  border: 1px solid var(--border-color);

  &::before,
  &::after,
  & span::before,
  & span::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--border-color);
    background: var(--background-primary);
  }

  &::before {
    bottom: -5px;
    left: -5px;
  }

  &::after {
    top: -5px;
    right: -5px;
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.framed-four-corners {
  border: 1px solid transparent;
  border-image: var(--border-image) 12 fill / 12px / 7px space;
}

.textured-background {
  background-color: var(--background-primary);
  background-image: url("assets/background-grid.png");
}

.section__title {
  margin-bottom: 20px;
  font-family: var(--font-secondary), sans-serif;
  font-size: 2rem;
  line-height: 40px;
}

.section__footer {
  display: flex;
  justify-content: flex-end;
}

.section__footer > * {
  margin-bottom: 20px;
}

@media screen and (min-width: var(--breakpoint-sm)) {
  .section__footer > * {
    margin-right: 20px;
  }
}

@media screen and (min-width: var(--breakpoint-md)) {
  .section__footer > * {
    margin-bottom: 0;
  }
}

/* ---------- Lists ---------- */

.list--empty {
  padding: 2rem 0;
  border-radius: var(--br-normal);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--background-secondary);
}

.list--empty i {
  font-size: 1.5rem;
}

/* ---------- Skip links ---------- */

.skip-links {
  --i: 0;
  --position-offset: 0.5rem;
  --shadow-offset: 0.25rem;
  position: fixed;
  top: var(--position-offset);
  left: var(--position-offset);
  z-index: 9999;
  padding: 1rem;
  border: 0.125rem solid;
  background-color: var(--white);
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0;
  translate: 0
    calc(
      (100% + var(--position-offset) + var(--shadow-offset)) *
      (var(--i) - 1)
    );
  transition: translate 0.2s;
}

.skip-links:focus-within {
  --i: 1;
}
