[data-theme="light"] {
  /* FONTS */
  --font-color: var(--color-dark);
  --font-color-muted: var(--color-dark-muted);
  --font-reverse: var(--color-light);
  --font-reverse-muted: var(--color-light-muted);

  /* BORDER COLORS */
  --border-color: var(--color-dark-muted);
  --border-image: url("./assets/frame_light-mode.png");

  /* BACKGROUND COLORS */
  --background-primary: var(--color-light-muted);
  --background-secondary: var(--color-light);
  --background-reverse: var(--color-dark-muted);
}
