:root {
  color-scheme: light dark;

  /* COLORS */
  --barberry: #dbeb19;
  --catskill-white: #f2f7f9;
  --foam: #daf1fb;
  --fog: #dbc3ff;
  --gunmetal: #2f2e41;
  --lightening-yellow: #f8c920;
  --magnolia: #f7f1fc;
  --mirage: #191e25;
  --oxford-blue: #3d495a;
  --shakespeare: #59b7d3;
  --shark: #202428;
  --water: #daf2fb;
  --white: #fff;

  /* MAIN THEME COLORS */
  --color-dark: var(--mirage);
  --color-dark-muted: var(--oxford-blue);
  --color-light: var(--white);
  --color-light-muted: var(--catskill-white);
  --color-blue: var(--shakespeare);
  --color-lightblue: var(--foam);
  --color-lightgreen: var(--barberry);
  --color-lightorange: var(--lightening-yellow);
  --color-lightpurple: var(--fog);
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-lightblue);

  /* FONTS */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", "Poppins", sans-serif;
  --font-code: "Fira Code", monospace;

  /* BORDER RADIUS */
  --br-normal: 0.625rem;
  --br-rounded: 50px;
  --br-circle: 50%;

  /* TRANSITIONS */
  --transition-duration--general: 0.1s;

  /* BREAKPOINTS */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --container-max-width: 1400px;
}
