.talks-list-page {
  padding: 3rem 0;
  min-height: calc(100vh - 200px);
  margin-left: auto;
  margin-right: auto;
}

.talks-list-page .container {
  max-width: calc(var(--container-max-width) - 200px);
  margin: auto;
  padding: 0 2rem;
}
