.article-page__content {
  max-width: calc(var(--article-max-width) + 6rem);
  margin: 3rem 1rem;
  padding: 1.5rem 3rem;

  p:has(img) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  @media screen and (min-width: 992px) {
    margin: 3rem auto;
  }
}
