.article-page__content {
  max-width: calc(var(--article-max-width) + 6rem);
  margin: 3rem auto;
  padding: 1.5rem 3rem;
  background: var(--background-content);

  p:has(img) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }
}
