.authors-list-page {
  padding-bottom: 3rem;
  min-height: calc(100vh - 200px);
  margin-left: auto;
  margin-right: auto;
}

.authors-list {
  max-width: calc(var(--container-max-width) - 200px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: auto;
}

.authors-list__item {
  display: flex;
  justify-content: center;
}
