.authors-list-page {
  min-height: calc(50vh);
  padding: 3rem 1rem 6rem;
}

.authors-list {
  max-width: calc(var(--container-max-width) - 200px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: auto;
}

.authors-list__item {
  display: flex;
  justify-content: center;
}
