.last-articles {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;

  .last-articles__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    margin: 30px auto;
    width: 100%;

    .article-card__first-paragraph {
      display: none;
    }
  }
}

@media screen and (min-width: 576px) {
  .last-articles {
    .last-articles__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
