:root {
  --badge-color: var(--color-primary);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--badge-color);
  gap: 0.25rem;
}

.badge__content {
  background-color: var(--background-primary);
  font-weight: 300;
  font-size: 0.9rem;
  border: 1px solid var(--badge-color);

  > * {
    padding: 0.25rem 0.5rem;
  }

  a {
    color: var(--badge-color);
    font-size: 0.9rem;
    outline-offset: 0.25rem;
    text-decoration: none;

    &:visited {
      color: var(--badge-color);
    }
  }

  &:hover {
    background-color: var(--badge-color);
    color: var(--font-reverse);

    a {
      color: var(--font-reverse);
      text-decoration: none;
    }
  }
}

.badge__icon {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1em;
    height: 1em;
  }
}

/* Theme overrides */
[data-theme="dark"] {
  .badge__icon svg path {
    fill: none;
    stroke: currentColor;
    stroke-width: 60;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}

[data-theme="light"] {
  .badge a {
    color: var(--badge-font-color, var(--font-reverse));

    &:visited {
      color: var(--badge-font-color, var(--font-reverse));
    }

    &:hover {
      color: var(--badge-font-color, var(--font-reverse));
    }
  }

  .badge__content {
    background-color: var(--badge-color);
    color: var(--badge-font-color, var(--font-reverse));
    border-color: var(--badge-color);

    &:hover {
      background-color: var(--background-primary);
      border: 1px solid var(--badge-color);

      a {
        color: var(--font-primary);
      }
    }
  }

  .badge__icon {
    color: var(--badge-color);
  }
}

.badge--icon-right {
  flex-direction: row;
}

.badge--icon-left {
  flex-direction: row-reverse;
}

.badge--icon-top {
  flex-direction: column-reverse;
}

.badge--icon-bottom {
  flex-direction: column;
}

.badge--icon-top .badge__icon {
  transform: rotate(-90deg);
}

.badge--icon-bottom .badge__icon {
  transform: rotate(90deg);
}

.badge--icon-left .badge__icon {
  transform: rotate(180deg);
}

.badge--rounded .badge__content {
  border-radius: 999px;
}
