/* ---------- Links ---------- */

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

a:visited {
  color: var(--font-color);
}

a:hover {
  color: var(--color-primary);
}

/* ---------- Skip links ---------- */

.skip-links {
  --i: 0;
  --position-offset: 0.5rem;
  --shadow-offset: 0.25rem;
  position: fixed;
  top: var(--position-offset);
  left: var(--position-offset);
  z-index: 9999;
  padding: 1rem;
  border: 0.125rem solid;
  background-color: var(--white);
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0;
  translate: 0
    calc(
      (100% + var(--position-offset) + var(--shadow-offset)) *
      (var(--i) - 1)
    );
  transition: translate 0.2s;
}

.skip-links:focus-within {
  --i: 1;
}

/* ---------- Buttons ---------- */

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
  color: var(--font-color);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--border-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
