/* ---------- Links ---------- */

a {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
  color: var(--font-color);
}

a:visited {
  color: var(--font-color);
}

a:hover {
  color: var(--color-primary);
}

/* ---------- Buttons ---------- */

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem 0.75rem;
  font-family: var(--font-primary), sans-serif;
  text-decoration: none;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--br-rounded);
  color: var(--font-color);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

/* Reversed */

.button--reversed {
  color: var(--font-reverse);
  border-color: var(--border-color-reverse);

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

/* Icon */

.button--icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: var(--br-circle);
  border: 1px solid var(--border-color);
  color: var(--font-color);
  transition:
    border-color 0.2s ease,
    color 0.2s ease;

  svg {
    width: 1.2rem;
  }

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

/* ---------- Forms ---------- */

label {
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: middle;
}

/* ---------- Checkboxes ---------- */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-primary);
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  vertical-align: middle;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--white);
    background-color: CanvasText;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    & + label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

/* ---------- Radiobuttons ---------- */

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--br-circle);
  background-color: var(--background-primary);
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  vertical-align: middle;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: var(--br-circle);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  &:hover {
    border-color: var(--color-primary);
  }

  &:checked {
    background-color: var(--background-primary);
    border-color: var(--color-primary);
  }

  &:checked::before {
    transform: scale(1);
    box-shadow: inset 1rem 1rem var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    & + label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

/* ---------- Tasks ---------- */

.contains-task-list {
  list-style-type: none;
  padding: 0;

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}

/* ---------- Callout Containers ---------- */

.alert {
  padding: 1rem;
  border-left: 4px solid;
  margin: 1rem 0;
  background-color: var(--background-secondary);
  border-color: var(--color-primary);
}

.alert-error {
  border-color: var(--color-lightred);
}

.alert-warning {
  border-color: var(--color-lightorange);
}

.alert-success {
  border-color: var(--color-lightgreen);
}

.alert-info {
  border-color: var(--color-lightblue);
}
