.header {
  position: relative;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--container-max-width);

  .header__main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;

    &::selection {
      background: transparent;
      color: var(--color-primary);
      text-shadow: none;
    }

    .header__content {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;

      .header__title {
        font-size: clamp(2.5rem, 8vw, 6rem);
        margin: 0;
      }
    }
  }

  .header__aside {
    overflow: hidden;

    .header__image {
      color: var(--color-dark-muted);
    }
  }
}

@media (min-width: 576px) {
  .header .header__main .header__content {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header {
    margin: 7rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    .header__aside {
      padding-top: 4rem;
      justify-content: flex-end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header .header__aside .header__image {
    color: var(--color-light-muted);
  }
}
