.header {
  position: relative;
  margin: 7rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;

  .header__main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
  }

  .header__content {
    display: flex;
    align-items: baseline;
    gap: 1rem;

    .header__title {
      font-size: 6rem;
      margin: 0;
    }
  }

  .header__aside {
    display: none;
    padding-top: 4rem;
    overflow: hidden;

    .header__image {
      color: var(--color-dark-muted);
    }
  }
}

@media (min-width: 992px) {
  .header {
    grid-template-columns: repeat(2, 1fr);

    .header__aside {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    .header__image {
      color: var(--color-light-muted);
    }
  }
}
