.header {
  position: relative;
  margin: 7rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header__main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;

    .header__title {
      font-size: clamp(2.5rem, 8vw, 6rem);
      margin: 0;
    }
  }

  .header__aside {
    overflow: hidden;

    .header__image {
      color: var(--color-dark-muted);
    }
  }
}

@media (min-width: 576px) {
  .header {
    .header__content {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    .header__aside {
      padding-top: 4rem;
      justify-content: flex-end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    .header__aside .header__image {
      color: var(--color-light-muted);
    }
  }
}
