.author-page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.author-page__header {
  background-color: var(--background-reverse);
  padding: 5rem 0 0;

  .author-page__header-wrapper {
    max-width: calc(var(--container-max-width) - 200px);
    padding-inline: 1rem;
    margin: auto;

    .author-card {
      max-width: calc(var(--container-max-width) - 200px);
      padding: 3rem 5rem;
      background-color: var(--background-reverse);
      border: none;
      color: var(--font-reverse);
      margin: auto;

      .author-card__name {
        font-size: 3rem;
        line-height: 5rem;
      }

      .styled-link {
        color: var(--font-reverse);
        border: 1px solid var(--border-color-reverse);

        &:hover {
          color: var(--color-primary);
          border-color: var(--color-primary);
        }
      }

      .author-card__footer {
        display: none;
      }
    }
  }
}

.author-page__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.author-page__articles,
.author-page__tips {
  display: flex;
  flex-direction: column;
}

.author-page__articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
